<div class="container">
    <div class="h3">Woops, looks like you're not authorized to view this page.</div>
    <div>Would you prefere to <a asp-controller="Home" asp-action="logout">log in as someone else</a>?</div>
</div>

